{% extends "inicio/encabezado.html" %}

{% block titulo %} Principal {% endblock %}

{% block imagen %}
    {% load static %}
    {% static 'inicio/images/home.png' %}
{% endblock %}

{% block txtimg %}
    <div class="user-info">
        Principal <span>info. General</span>
    </div>
{% endblock %}
{% block encabezado %}
			<!--Encabezdo -->
			<div class="page-header">
				<div class="page-title">
					<h3>Alumnos
				    <small>Lista de Alumnos </small></h3>
				</div>
			</div>
			<!-- /Encabezado-->
{% endblock %}
{% block content %}
{% endblock %}
{% block navegacion %}
<!-- Barra de navegación-->
	 <div class="breadcrumb-line">
			<ul class="breadcrumb">
			<a href="{% url 'principal' %}">
					{% if request.pat == '/' %}
						<h1>Principal</h1>
					{% else %}
						Principal{{ request.path }}
					{% endif %}
				   </a>
			</ul>
	</div>
	  <!-- /Barra de navegación-->
		{% endblock %}